.navbar{
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    height: 55px;
}
.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}
.title > i {
    margin: 5px;
}