.card{
    background-color: #f7f7f7;
    width: 350px;
    margin: 40px 15px 30px 15px ;
    max-width: 70%;
    transition-duration: 0.5s;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 7px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card:hover{
    margin-top: 35px;
    margin-bottom: 35px;
}



.location{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.location > i{
    color: #F55A5A;
    margin: 5px;
}

.googleMapsUrl{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
/* identical to box height */
    text-decoration-line: underline;
    color: #918E9B;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin: 10px 10px 0 10px;
    line-height: 30px;
    color: #2B283A;
}

.dates{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    margin: 10px;
    color: #2B283A;
}

.description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
    margin: 10px;
    height: 100px;
}

.cardBtn{
    width: 90%;
    height: 40px;
    margin: 20px auto 10px auto;
    justify-self: center;
    
}

.cardBtn > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 18px;
/* identical to box height */
    text-decoration-line: none;
    color: #222;
}