
.Footer{
    background-color: #F55A5A;
    height: 55px;
    width: 100%;
    display: flex;
    justify-items: center;
}
.Footer > div{
    margin: auto;
}

.Footer > div > i {
    color: #fff;
    margin:  10px;
    width: 10px;
}